a{
    color:red;
    width:16px;
}
h1{
    font-size:60px;
    text-align:center;
    margin:0
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1.5px;
  text-align:center;
}
html{
    background-color:#39C5BB
}

ol{
    padding:10px 20px;
    border-width:2px;
    border-style:dashed;
    border-color:yellow;
    margin:10px 20px;
}

ul{
    padding:10px 20px;
    border-width:20px;
    border-style:solid;
    border-color:#66CCFF;
    margin:10px 20px;
}
body{
    
    background-color:#66CCFF;
}
img{
    position:relative;
    left: 450px;
    
}